.title_shreya {
    height: 75vh;
    min-height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    background-size: cover;
    background-image: url('https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.lonelyplanet.com%2Fcosta-rica&psig=AOvVaw0YSDZRsq53ZypMLvO8xp6O&ust=1623549280483000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCIi208X-kPECFQAAAAAdAAAAABAV');
    background-attachment: fixed;
}

.container {
    width: 100px;
    margin: auto;
}
