body {
    font-family: 'Raleway', sans-serif;
}

h1 {
    text-align: center;
    font-size: 5rem;
    padding: 100px;
}

.tiny {
    width: 500px;
    margin: auto;
}

img {
    width: 100%;
}

nav {
    position: fixed;
    display: flex;
    top: 0;
    width: 100%;
    /* justify-content: space-between; */
    align-items: center;
    z-index: 10;
    background-color: #eee;

    
    flex-wrap: wrap;
}

nav h3 {
    padding: 0 10px;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-grow: 2;
    padding: 0 10px;
}

nav a {
    text-decoration: none;
    color: black;
    padding: 10px 20px;
    transition: 0.3s;
}

nav a:hover {
    color: #777;
}

.spacer {
    height: 70px;
}

footer {
    text-align: center;
    padding: 20px;
}

/* home specific */

.cover {
    color: white;
    text-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

    background-size: cover;
    /* first */
    /* background-image: url("https://cdn.britannica.com/51/124551-050-25801343/terrain-Monteverde-Costa-Rica.jpg"); */
    /* second  */
    background-image: url("https://wallpapercave.com/wp/wp1879020.jpg");
}

.cover::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0,0,0,0.4);
    /* background-color: rgba(0,0,0,0.25); */
}

.cover .word {
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cover > div {
    z-index: 5;
}

/* buttons */

.cover a {
    text-decoration: none;
    color: white;
}

.cover button {
    font-family: inherit;
    font-size: 1.2rem;
    padding: 10px;
    margin: 20px;
    background-color: rgba(0,0,0,0.7);
    color: white;
    border: 1px solid;
    border-radius: 5px;

    transition: 0.3s;
}

.cover button:hover {
    transform: scale(1.1);
}